.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.form {
  width: 500px;
}

.info {
  font-size: 12px;
  margin-top: 24px;
  color: #666;
}
