.container {
  display: flex;
  position: fixed;
  height: 60px;
  top: 0;
  right: 0;
  left: var(--marketing-ad-width, 0);
  z-index: 2;
  padding: 8px 28px;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  view-transition-name: sign-header;

  @media (max-width: 768px) {
    left: 0;
  }

  .back {
  }

  .text {
    flex-grow: 1;
    text-align: right;
  }
}
